.borders{
	border: 1px solid black;
}

#log-in {
	position: absolute;
	font-weight: bold;
	top: 15px;
	left: 1050px;
}

a{
	color: black;
}

.img{
	height:100%;
	width:auto;
}

.input{
	width:91%;
	height: 2.5rem;
	border-radius: .5rem;
}

.btn-margin{
	margin-left: 1rem;
}

#map{
	height:400px;
	width:100%;
    -webkit-filter: grayscale(70%);
       -moz-filter: grayscale(70%);
        -ms-filter: grayscale(70%);
         -o-filter: grayscale(70%);
            filter: grayscale(70%);

}

.long{
	width:100%;
}

.btn{
	background-color: black;
	color: white;
}
a:hover{
	color: #66758a;
}
.btn:hover{
	background-color: #66758a;
}