.borders{
	border: 1px solid black;
}

a{
	color: black;
}

.img{
	height:100%;
	width:auto;
}

.input{
	width:91%;
	height: 2.5rem;
	border-radius: .5rem;
}

.btn-margin{
	margin-left: 1rem;
}

#map{
	height:400px;
	width:100%;
}